<footer class="navbar navbar-inverse navbar-fixed-bottom ">
    <div class="container">
        <div style="margin: auto;width: 20%;padding: 10px;">
          <a href="https://github.com/preet19" target="_blank" class="btn btn-social-icon btn-github"><i class="fa fa-github"></i>  </a>
       </div>
        
    </div>





</footer>

</body>
</html>
