<footer class="navbar navbar-inverse navbar-fixed-bottom ">
    <div class="container">
        <div class="navbar-text pull-left">
         &copy; 2016 Dilpreet
        </div>
    </div>





</footer>

</body>
</html>
