<% include partials/header.ejs %>
<!--
File name = about me
Author's name = Dilpreet Singh
Web site name = dilpreet.me
file description = the details about me
-->
<div class="col-lg-12 text-center">
    <h2 class="section-heading">About Me</h2>
    <hr class="primary">

    <!--
     blockquote to describe something about me
    -->
    <blockquote>
        <i class="fa fa-terminal fa-stack fa-inverse"></i>Dilpreet has done bachelor's degree in computer science. Over the time he has developed skills in various programming 
        languages. He is now pursuing his carrer as a Full Stack .Net Developer.
    </blockquote>
</div>


    <img style="border-radius:50%;display: block;
    margin: 0 auto;" src="./images/dil.jpg">


<% include partials/footer.ejs %>