<% include partials/header.ejs %>

<!--
File name = index
Author's name = Dilpreet Singh
Web site name = dilpreet.me
file description = home page of website
-->
<h1 class='insetshadow'>
        Full Stack .Net Developer <br>
       <span style="font-size:22px"> Dilpreet Singh (Bachelor of Computer Science)</span>
</h1>



<div class="block">

        Dilpreet has been very curious about the activites he has been involved in. He has shown interest in the technologies
        and the way the bank does things. He has great knowledge of the programming languages he is using and tries to find ways to
        do things better. He is a quick and independent learner He was able to quickly build and deploy the automation website to the
        server.
        <cite>Luis Leal (QA/BA Manager, Royal bank of canada)</cite>
</div>

<% include partials/footer.ejs %>
