<% include partials/header.ejs %>
<!--
File name = projects
Author's name = Dilpreet Singh
Web site name = dilpreet.me
file description = listing of projects made by me
-->
<div>
        <h3> Pharmacy Website (Technologies Used: - Visual Studio, Asp.net, MVC, EF6, Angular.js, Bootstrap) </h3>
        <p>
        -	Worked on designing and coding a website for pharmacy. The website is built on top of MVC5 framework.
                Using the latest Entity framework to interact with SQL Server this website is deployed on azure directly
                from GitHub repository.<br>
                Project link: - pendale.azurewebsites.net<br>
                GitHub link: - https://github.com/preet19/PendalePharmacy
        </p>
</div>
<div>
        <h3> QA Automation portal (Technologies Used: - Visual Studio, Asp.net, Web Forms, Jquery, Bootstrap)  </h3>
        <p>
        -	Worked on developing a web portal to automate testing during my work term at royal bank of Canada.
                worked with windows server to host the web portal on intranet. Created a portal to extract the values 
                from XML and then compare it against the values from database and write the final result in txt file
                for the user to review.

        </p>
</div>
<div>
        <h3> Personal Portfolio (Node JS, Express, MongoDB and AngularJS) </h3>
        <p>
                Personal portfolio site builds on top of mean stack. 
        </p>
</div>




<% include partials/footer.ejs %>
