<% include partials/header.ejs %>
<!--
File name = skills
Author's name = Dilpreet Singh
Web site name = dilpreet.me
file description = expertize in various field of IT
-->
<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Designing and Progamming Skills</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <!--
    the six column layout of bootstrap to list various skills
    -->
    <div class="container">
        <div class="row">
            
           
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <img class="skill-image" src="./images/asp.png" />
                    <h3>ASP.NET(C#)</h3>
                    <div class="dialogbox">
                         <div class="body">
                            <span class="tip tip-up"></span>
                                 <div class="message">
                            <span>Excellent working skills with ASP.net Framework. gained good skills working
                            with WebForms, Windows Form and MVC Framewwork.</span>
                            </div>
                        </div>
                     </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <img class="skill-image" src="./images/mean.jpg" />
                    <h3>MEAN STACK</h3>
                    <div class="dialogbox">
                         <div class="body">
                            <span class="tip tip-up"></span>
                                 <div class="message">
                            <span>Got Excellent skills to work with mean stack. used nodejs, angularjs, express and
                            MongoDB to produce dynamic web apps.</span>
                            </div>
                        </div>
                     </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <img class="skill-image" src="./images/html.jpg" />
                    <h3>HTML, CSS</h3>
                    <div class="dialogbox">
                         <div class="body">
                            <span class="tip tip-up"></span>
                                 <div class="message">
                            <span>Used HTML and CSS to build graphical interface for web applications.</span>
                            </div>
                        </div>
                     </div>
                </div>
            </div>
            
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <img class="skill-image" src="./images/php.png" />
                    <h3>PHP</h3>
                    <div class="dialogbox">
                         <div class="body">
                            <span class="tip tip-up"></span>
                                 <div class="message">
                            <span>Done PHP development and build data driven websites with MySql.</span>
                            </div>
                        </div>
                     </div>
                </div>
            </div>
        </div>


        <div class="row">
        
         <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <img class="skill-image" src="./images/java.png" />
                     <h3>Java</h3>
                    <div class="dialogbox">
                         <div class="body">
                            <span class="tip tip-up"></span>
                                 <div class="message">
                            <span>Used Object Oriented approach to develop applications in java  .</span>
                            </div>
                        </div>
                     </div>
                </div>
            </div>
            
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <img class="skill-image" src="./images/html.jpg" />
                    <h3>Tools & Frameworks</h3>
                    <div class="dialogbox">
                         <div class="body">
                            <span class="tip tip-up"></span>
                                 <div class="message">
                            <span>Worked with various tools and frameworks for project managenment and development including
                            Microsodt Project, Microsoft Visio, ASP.Net etc.</span>
                            </div>
                        </div>
                     </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <img class="skill-image" src="./images/javascript.jpg" />
                    <h3>Javascript</h3>
                    <div class="dialogbox">
                         <div class="body">
                            <span class="tip tip-up"></span>
                                 <div class="message">
                            <span>Working knowledge of world most famous language Javascript and it's
                            Libraries (Ajax, JQuery).</span>
                            </div>
                        </div>
                     </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <img class="skill-image" src="./images/database.png" />
                    <h3>SQL Server, MongoDB</h3>
                    <div class="dialogbox">
                         <div class="body">
                            <span class="tip tip-up"></span>
                                 <div class="message">
                            <span>Advanced working knowledge of relational Database server and NOSQL Dalatabase.</span>
                            </div>
                        </div>
                     </div>
                </div>
            </div>
        </div>

    </div>
</section>
<!-- footer starts here -->
<% include partials/footer.ejs %>
