<% include partials/header.ejs %>
<!--
File name = skills
Author's name = Dilpreet Singh
Web site name = dilpreet.me
file description = expertize in various field of IT
-->
<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Designing and Progamming Skills</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <!--
    the six column layout of bootstrap to list various skills
    -->
    <div class="container">
        <div class="row">
            
           
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <img class="skill-image" src="./images/asp.png" />
                    <h3>ASP.NET WebForms</h3>
                    <div class="dialogbox">
                         <div class="body">
                            <span class="tip tip-up"></span>
                                 <div class="message">
                            <span>Excellent working skills with ASP.net Webforms, worked towards building a webportal 
                                using server controls, webforms etc.</span>
                            </div>
                        </div>
                     </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <img class="skill-image" src="./images/mvc.png" />
                    <h3>Asp.net MVC</h3>
                    <div class="dialogbox">
                         <div class="body">
                            <span class="tip tip-up"></span>
                                 <div class="message">
                            <span>Expeience working with ASP.net MVC5 Framework. Used MVC5,
                                         Entity Framework 6 and ASP.net Framework 4.6 to build a fully functional web app</span>
                            </div>
                        </div>
                     </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <img class="skill-image" src="./images/mean.jpg" />
                    <h3>MEAN Stack</h3>
                    <div class="dialogbox">
                         <div class="body">
                            <span class="tip tip-up"></span>
                                 <div class="message">
                            <span>Excellent Working skills with MEAN Stack (MongoDB, Express generator, Angularjs 
                                and nodejs).</span>
                            </div>
                        </div>
                     </div>
                </div>
            </div>
            
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <img class="skill-image" src="./images/database.png" />
                    <h3>MySql, MongoDB</h3>
                    <div class="dialogbox">
                         <div class="body">
                            <span class="tip tip-up"></span>
                                 <div class="message">
                            <span>good understanding of working with relational database system ex:- MYSQL and non 
                                relational database system ex:- MongoDB.</span>
                            </div>
                        </div>
                     </div>
                </div>
            </div>
        </div>


        <div class="row">
        
         <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <img class="skill-image" src="./images/html.jpg" />
                     <h3>HTML,CSS,Javascript</h3>
                    <div class="dialogbox">
                         <div class="body">
                            <span class="tip tip-up"></span>
                                 <div class="message">
                            <span>Excellent client side markup and scripting languages skills.worked with various
                                javascript Libraries like JQuery,Angularjs and Ajax.
                            </span>
                            </div>
                        </div>
                     </div>
                </div>
            </div>
            
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <img class="skill-image" src="./images/java.png" />
                    <h3>JAVA</h3>
                    <div class="dialogbox">
                         <div class="body">
                            <span class="tip tip-up"></span>
                                 <div class="message">
                            <span>Used the Object oriented techniques to write quality code in Java.</span>
                            </div>
                        </div>
                     </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <img class="skill-image" src="./images/javascript.jpg" />
                    <h3>Enitity Framework</h3>
                    <div class="dialogbox">
                         <div class="body">
                            <span class="tip tip-up"></span>
                                 <div class="message">
                            <span>Experience working in entity framework which uses the Linq syntax to perform the CRUD 
                                operations on SQL database server.</span>
                            </div>
                        </div>
                     </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <img class="skill-image" src="./images/server.png" />
                    <h3>Linux,Windows server</h3>
                    <div class="dialogbox">
                         <div class="body">
                            <span class="tip tip-up"></span>
                                 <div class="message">
                            <span>Gained some skills working with IIS and Linux server. can deploy web app to iis server and
                                can succesfully fixed the arised issues.</span>
                            </div>
                        </div>
                     </div>
                </div>
            </div>
        </div>

    </div>
</section>
<!-- footer starts here -->
<% include partials/footer.ejs %>
